modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.development]
CAMPAIGN_MONITOR_API_KEY = "r/kuObpk+R4aORIEfZJZYkEVBbuG04l+TNv8sZ6hBLkZ63BaCIpo5yQ/8YZjdeuEX3PNpCh0c4en3S6Gq94F/eRt8H+DNBM9Uzo0NxId0hPuZfwbX8Wroe+fpekyGynoZupjKb1guSNEjT/PL54SVg=="

[userenv.production]
CAMPAIGN_MONITOR_API_KEY = "r/kuObpk+R4aORIEfZJZYkEVBbuG04l+TNv8sZ6hBLkZ63BaCIpo5yQ/8YZjdeuEX3PNpCh0c4en3S6Gq94F/eRt8H+DNBM9Uzo0NxId0hPuZfwbX8Wroe+fpekyGynoZupjKb1guSNEjT/PL54SVg=="
